<%- include("partials/header") -%>

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="usr">Title:</label>
    <input type="text" name="composeBlogTitle" class="form-control" id="usr" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="comment">Post:</label>
    <textarea class="form-control" name="composeBlogText" rows="5" id="comment"></textarea>
  </div>
  <button class="btn btn-lg btn-primary" type="submit" name="button">Publish</button>
</form>



<%- include("partials/footer") -%>
